requests
numpy
websocket-client
pyyaml
pandas
aiohttp
spdlog
matplotlib
pyecharts
cython
setuptools
pytz
aiosmtplib
ntplib
pytest
pytest_benchmark
pytest-sugar
pytest-cov
pytest-picked
pytest-xdist
python-rapidjson
backports.tarfile